@import url('https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css');

body {
    background-image: url('/media/LK_Background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
}

main {
    flex: 1;
}

header {
    overflow: hidden;
    background-color: #0e1d2b;
    color: whitesmoke;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
}

.buttons:hover {
    color: whitesmoke;
    background-color: #32465a;
    font-size: 15px;
}

.right-menu {
    display: inline;
    float: right
}

.right-menu form {
    padding-top: 7px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.content {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
}

.profile-warning {
    color:red;
    font-weight:bold;
}

.class_icon {
    width: 1em;
    height: 1em;
}

.pricelist {
    display: inline-block;
    width: 40%;
    margin: 0 auto; 
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  
}

th, td {
    border: 1px solid rgb(190, 189, 189);
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    width: 14.28%;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #263544;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border-color: #263544;
    font-size: 16px;
}

.btn:hover {
    background-color: #32465a;
}

.events-body {
    text-decoration: none !important;
    color: inherit !important;
}

.events-body:hover {
    background-color: #32465a;
}

.Deathknight { color: #C41F3B; }
.Druid { color: #FF7D0A; }
.Hunter { color: #ABD473; }
.Mage { color: #69CCF0; }
.Paladin { color: #F58CBA; }
.Priest { color: #FFFFFF; }
.Rogue { color: #FFF569; }
.Shaman { color: #0070DE; }
.Warlock { color: #9482C9; }
.Warrior { color: #C79C6E; }

a.profile-href {
    color: inherit !important;
}

label {
    width: 200px;
    display: inline-block;
    text-align: right;
}

input {
    width: 300px;
}