@import url('https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css');


.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body {
    background-image: url('/media/LK_Background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    color: whitesmoke;
}

.class_icon {
    width: 1em;
    height: 1em;
}

ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-inline-start: 5px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    width: 14.28%;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #263544;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border-color: #263544;
    font-size: 16px;
}

.btn:hover {
    background-color: #32465a;
}